@tailwind base;
@tailwind components;
@tailwind utilities;

ion-toolbar {
  --background: #303032;
  --min-height: 50px;
}

ion-back-button {
  --color: white;
}

ion-title {
  --color: white;
}

ion-progress-bar {
  --progress-background: white;
  --buffer-background: #94979c4d;
  height: 1px;
}

ion-spinner{
  --color: white !important;
}
