@tailwind base;
@tailwind components;
@tailwind utilities;

ion-toolbar {
  --background: #303032;
  /* --min-height: 50px; */
}

ion-back-button {
  --color: white;
}

ion-title {
  --color: white;
}

ion-progress-bar {
  --progress-background: white;
  --buffer-background: #94979c4d;
  height: 1px;
}

ion-spinner{
  --color: white !important;
}

ion-card {
  margin: 0;
}

.safe-area-top{
  padding-top: var(--safe-area-top) !important;
}

.fade-leave-active {
  transition: opacity 0.2s;
}

.fade-enter-to,
.fade-leave {
  opacity: 0;
}

.input-bottom{
  margin: 0 14px;
  --padding-start: 0;
}
